body {
	padding: 0;
	margin: 0;
}
.None {
	display: none;
}
div#frame {
	background-color: azure;
	padding: 1px;
	margin: 0;
}
div#header {
	display: flex;
}
div#titleFrame {
	color: aqua;
}

div.TweetFrame {
	font-size: 80%;
	margin: 1px;
	padding: 1px;
}
div.TweetHeader {
	display: flex;
}
div.TweetTime {
	font-size: 80%;
	color: darkgray;
}
div.TweetTime:first-child {
	font-weight: bold;
}

div.TweetMenuBtn {
	cursor: pointer;
	border: 2px solid #333;
	width: 20px;
	border-radius: 15px;
	text-align: center;
	margin-left: 2px;
}
div.TweetMenuPannel {
	position: absolute;
	top: -100px;
	left: -100px;
	width: 100px;
	height: auto;
	z-index: 9999;
	background-color: #aaa;
	padding: 10px;
	border-radius: 15px;
}
div.TweetMenuPannelBtn {
	cursor: pointer;
	width: 100px;
	border-radius: 15px;
	text-align: center;
	margin: 2px;
	color: #aaa;
	background-color: #333;
}
div.MainMenu {
	display: flex;
	flex-flow: row wrap;
	color: #aaa;
	font-weight: bold;
	margin-left: 10px;
}
div.MainMenu > div {
	color: #aaa;
	margin: 1px;
	padding: 2px 5px;
	border-radius: 5px;
	font-size: 80%;
	background-color: #333;
}
div.TweetRow {
	height: 1.5em;
}
div.Editor {
	padding: 5px;
}
textarea.maineditor {
	width: calc(100% - 10px);
	border: 0 black solid;
}
span.textCounter {
	display: inline-block;
	color: #aaa;
	width: 3em;
	text-align: right;
	padding-right: 10px;
}
div.BLUE {
	background-color: rgb(131, 180, 255);
}
div.YELLOW {
	background-color: rgb(255, 247, 131);
}
div.RED {
	background-color: rgb(255, 131, 131);
}
