body {
	padding: 0;
	margin: 0;
}
.None,
.NONE {
	display: none;
}
div#frame {
	background-color: azure;
	padding: 1px;
	margin: 0;
}
div#header {
	display: flex;
}
div#titleFrame {
	color: aqua;
}

div.TweetFrame {
	font-size: 80%;
	margin: 1px;
	padding: 1px;
}
div.TweetHeader {
	display: flex;
}
div.TweetTime {
	font-size: 80%;
	color: darkgray;
}
div.TweetTime:first-child {
	font-weight: bold;
}

div.TweetMenuBtn {
	cursor: pointer;
	border: 2px solid #333;
	width: 20px;
	border-radius: 15px;
	text-align: center;
	margin-left: 2px;
}
div.TweetMenuPannel {
	position: absolute;
	top: -100px;
	left: -100px;
	width: 100px;
	height: auto;
	z-index: 9999;
	background-color: #aaa;
	padding: 10px;
	border-radius: 15px;
}
div.TweetMenuPannelBtn {
	cursor: pointer;
	width: 100px;
	border-radius: 15px;
	text-align: center;
	margin: 2px;
	color: #aaa;
	background-color: #333;
}
div.MainMenu {
	display: flex;
	flex-flow: row wrap;
	color: #aaa;
	font-weight: bold;
	margin-left: 10px;
}
div.MainMenu > div {
	color: #aaa;
	margin: 1px;
	padding: 2px 5px;
	border-radius: 5px;
	font-size: 80%;
	background-color: #333;
}
div.TweetRow {
	height: 1.5em;
}
div.TweetHistory {
	padding: 2px 15px 10px 10px;
	background-color: #ddd;
}
div.TweetHistoryHide {
	cursor: pointer;
	padding-bottom: 2px;
	border: #333 solid 1px;
	border-width: 0 0 1px 0;
	margin-bottom: 2px;
}
div.TweetHistoryView {
	padding: 5px;
	background-color: #f5f5f5;
	margin-top: 5px;
	border-radius: 10px;
}
div.TweetHistoryViewFooter {
	background-color: #ccc;
	padding: 2px;
	border-radius: 5px;
}
div.TweetHistoryViewFooter > span.time {
	display: inline-block;
	width: 12em;
	padding-right: 1em;
	text-align: right;
}
div.Editor {
	padding: 5px;
}
textarea.maineditor {
	width: calc(100% - 10px);
	border: 0 black solid;
}
span.textCounter {
	display: inline-block;
	color: #aaa;
	width: 3em;
	text-align: right;
	padding-right: 10px;
}
div.BLUE {
	background-color: rgb(131, 180, 255);
}
div.YELLOW {
	background-color: rgb(255, 247, 131);
}
div.RED {
	background-color: rgb(255, 131, 131);
}
div.inputImageArea {
	display: flex;
	width: 640px;
	flex-wrap: wrap;
}
div.TwwetImageEdit {
	min-height: 300px;
}
div.inputImageArea > div.TwwetImageEdit:first-child {
	background-color: aqua;
}
div.inputImageArea > div.TwwetImageEdit:nth-child(2) {
	background-color: aquamarine;
}
div.inputImageArea > div.TwwetImageEdit:nth-child(3) {
	background-color: lightcyan;
}
div.inputImageArea > div.TwwetImageEdit:nth-child(4) {
	background-color: lightskyblue;
}
div.TwwetImageEditHeader {
	width: 320px;
	display: flex;
	justify-content: space-between;
}
div.TwwetImageEditHeader > span.stat {
	display: block;
	font-size: 60%;
}
div.TwwetImageEditHeader > span.stat > span.stat {
	margin: 2px;
}
div.TwwetImage {
	width: 310px;
	font-size: 60%;
	text-align: center;
	display: flex;
	align-items: center;
	min-height: 310px;
	justify-content: center;
	padding: 5px;
}
div.TwwetImage > img {
	display: block;
}
